{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
        <h1>Вход</h1>
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Войти"></p>
            </form>
            <p>
                <a style="width: 189px; font-size: 17px" href="{% url 'password_reset' %}">
                    Забыли пароль?
                </a>
            </p>
            <p>
                <a style="width: 189px; font-size: 17px" href="{% url 'register' %}">Регистрация</a>.
            </p>
        </div>
{% endblock %}