{% extends "base.html" %}

{% block title %}Успехи{% endblock %}

{% block content %}
    <center>
        <h1>Успехи и прогресс за все года</h1>
        {% if results is not none %}
            {% for result in results %}
                {% if result is not none %}
                    <div class="results">
                        <p>Рекомендации Вам за {{ forloop.counter }} класс:</p>
                        {{ result }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if show_result %}
            <img src="data:image/png; base64, {{show_result|safe}}" alt="" style="width:800px">
        {% endif %}
    </center>
{% endblock%}